{% extends "base.html" %} 

{% block title %} Signup {% endblock title %} 

{% block content %}

<div class="card p-4">
  <h1 class="text-dark">Signup</h1>

  <form action="/auth/signup/" method="post">
    {% csrf_token %}

    <label for="email">Email</label>
    <div class="form-group">
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter Email"
        required
      />
    </div>

    <label for="pass1">Password</label>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        id="pass1"
        name="pass1"
        placeholder="Enter Password"
        required
      />
    </div>

    <label for="pass2">Confirm Password</label>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        id="pass2"
        name="pass2"
        placeholder="Confirm Password"
        required
      />
    </div>

    <br />
    <button class="btn btn-success" type="submit">SignIn</button>

    <br />
    Already Registered? <a href="/auth/login">Login</a>
  </form>
</div>

{% endblock content %}
